.main {
    text-align: center;
    padding: 10px; 
}
    
#Login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

    
        
        
.Email input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding left: 15px;
    background-color: #ff5858;
    color: #b6b6b6;


}
.Senha input {
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding left: 15px;
    background-color: #ff5858;
    color: #b6b6b6;
    margin-top: 15px;

}
.Enviar input {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border:none;
    background-color: #ff5858;

}
input ::placeholder {
    color: #b6b6b6;
}
h1 {
    color:white
}


