:root {
    --primary-color: #ff6b6b; 
    --secondary-color: #ffe66d; 
    --background-color: #f7fff7; 
    --text-color: #333;
    --button-hover: #ff4e4e; 
    --button-text-color: #fff; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: var(--primary-color);
    padding: 10px;
    color: var(--button-text-color);
    text-align: center;
}

header .logo h1 {
    font-size: 2.5rem;
    margin: 0;
}

.perfilImg {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 15px; 
    border: 2px solid var(--secondary-color);
}

.top-header-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    margin-right: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search button {
    background-color: var(--secondary-color);
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search button:hover {
    background-color: var(--button-hover);
}


header .logo h1 {
    display: none;
}


nav {
    margin: 20px 0;
    text-align: center;
}

.menu-desktop {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.menu-desktop .btn {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-desktop .btn:hover {
    background-color: var(--button-hover);
    transform: translateY(-5px);
}


.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.produto-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto-img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.promo {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.promo-text h3 {
    font-size: 3rem;
    color: var(--primary-color);
}


.h1-abas {
    font-size: 2rem;
    margin: 30px 0;
    text-align: center;
    color: var(--primary-color);
}


.footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--primary-color);
    color: var(--button-text-color);
}


button, a {
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

a:active, button:active {
    transform: scale(0.95);
}
